<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>BUS FINDER</title>
      <link
        rel="stylesheet"
        href="{{ url_for('static',filename='css/search.css') }}"
      />
      <link
        rel="stylesheet"
        href="{{ url_for('static',filename='css/all.css') }}"
      />
      <link
        rel="stylesheet"
        href="{{ url_for('static',filename='css/normalize.css') }}"
      />

      <link
        rel="stylesheet"
        href="{{ url_for('static',filename='css/all.min.css') }}"
      />

      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://www.fontspace.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap"
        rel="stylesheet"
      />
      <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    </head>
  </head>

  <body>
   <!--         Nav_Bar         -->
   <script> showNavbar()</script>
   <!--         Nav_Bar         -->
    <div class="services" id="SERVICES">
      <div class="container5">
          <image src="{{ image }}" alt="a" >
   
      </div>
    </div>    <div class="loader"></div>

  </body>
</html>
